div{
    background: #294B68;
    background: -webkit-linear-gradient(top, #294B68, #70B0BF);
    background: -moz-linear-gradient(top, #294B68, #70B0BF);
    background: linear-gradient(to bottom, #294B68, #70B0BF);
    text-align: center;
    }
    
    img {
        border-radius: 50%;
    }
    p, h1 {
        color:white;
    }
    
    #nombre{
        font-weight: bolder;
        margin-top: 30%;
    }
    
    #titulos{
        font-style: italic;
        font-weight: bold;
    }
    
    @media (max-width: 575px){
        div{
            background: #294B68;
            }
        img{
            width: 25%;
        }
        #nombre{
            margin-top: 0%;
        }
    
    }