<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/profilepicture.png" alt="Foto de perfil del creador del sitio web" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{prs.name}} {{prs.surname}}</p>
        <p id="titulos">{{prs.degree}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                {{prs.about_me}}
            </p>
        </span>
    </div>
</div>